<div class="top-banner">
  <div class="banner-inner">
    <img class="banner-logo" src="assets/msdsm_logo_left.png" alt="IIT Indore Logo" />
    <div class="banner-title">
      <div class="title-small">MASTER OF SCIENCE IN</div>
      <div class="title-large">DATA SCIENCE AND MANAGEMENT</div>
    </div>
    <img class="banner-logo" src="assets/msdsm_logo_right.png" alt="IIM Indore Logo" />
  </div>
</div>

<header class="header">
  <div class="logo">Alumni Portal</div>

  <nav class="nav">
    <button routerLink="/dashboard">Dashboard</button>
    <button routerLink="/alumni">Alumni</button>
    <button routerLink="/jobs">Jobs</button>
    <button routerLink="/events">Events</button>
    <button routerLink="/messages">Messages</button>
    <button routerLink="/map-locations">Map</button>
  </nav>

  <div class="profile-icon" routerLink="/profile">👤</div>
</header>
