<div class="sidebar">

    <div class="logo">
      🎓 Alumni Portal
    </div>
  
    <ul class="menu">
  
      <li routerLink="/dashboard" routerLinkActive="active">
        <span>🏠</span> Dashboard
      </li>
  
      <li routerLink="/profile" routerLinkActive="active">
        <span>👤</span> Profile
      </li>
  
      <li routerLink="/alumni" routerLinkActive="active">
        <span>🎓</span> Alumni Directory
      </li>
  
      <li routerLink="/events" routerLinkActive="active">
        <span>📅</span> Events
      </li>
  
      <li routerLink="/jobs" routerLinkActive="active">
        <span>💼</span> Jobs
      </li>
  
      <li routerLink="/messages" routerLinkActive="active">
        <span>💬</span> Messages
      </li>
  
    </ul>
  
  </div>