html, body {
  margin: 0;
  padding: 0;
  font: 14px Arial, sans-serif;
  color: #000;
  background-color: #DCDDDF;

  background-image:
    linear-gradient(rgba(220, 221, 223, 0.45), rgba(220, 221, 223, 0.45));

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  overflow-x: hidden;
}
df-messenger { --df-messenger-bot-message: #e0e0e0; --df-messenger-user-message: #0084ff; --df-messenger-font-color: #000; --df-messenger-chat-background-color: #f9f9f9; }
